@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply font-sans;
    font-weight: 400;
    
    color-scheme: light;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
    
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

code {
    background-color: #1a1a1a;
    padding: 2px 4px;
    margin: 0 4px;
    border-radius: 4px;
}

.card {
    padding: 2em;
}

#app {
    margin: 0 auto;
    padding: 2rem;
}

.form-input,
.form-textarea,
.form-select,
.form-multiselect,
.form-checkbox {
    @apply rounded border-2 border-gray-800/10 text-gray-900;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #fff;
    }
    
    a:hover {
        color: #747bff;
    }
    
    button {
        background-color: #f9f9f9;
    }
    
    code {
        background-color: #f9f9f9;
    }
}
